<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="ponix_georgia" content="how's it growing?">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ponix OS 2.0</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="container">
            <div id="control-card">
                <div id="tableDiv">
                    <table>
                    </table>
                </div>
                <div id="left-side-card">
                    <div class="device-card" id="left-up-card">
                        <h1>D e v i c e s</h1>
                        <table></table>
                    </div>
                </div>
                <div id="right-side-card">
                    <div class="device-card" id="right-up-card">
                        <h1>S e n s o r s</h1>
                    </div>
                    <div class="device-card" id="right-down-card">
                        <h1>S e q u e n c e s</h1>
                    </div>
                </div>
            </div>
            <label class="switch">what
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <script src="myclient.js"></script>
    </body>
</html>
