body {
    font-family: 'Montserrat',serif;
    font-size: 12px;
    color: rgba(0,0,0,0.65);
    margin: 0px;
    font-weight: 300;
}

html {
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
}

#container {
    width: 1024px;
    height: 600px;
    background-color: white;
    margin: auto;
    overflow: hidden;
    position: absolute;
}

#control-card {
    margin: 30px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    padding: 30px;
    height: 480px;
    width: 904px;
}

#left-side-card {
    height: 480px;
    width: 372px;
    display: inline-block;
}

#right-side-card {
    height: 480px;
    width: 372px;
    display: inline-block;
}

#tableDiv {
    width: 150px;
    height: 480px;
    display: inline-block;
    //margin: auto;
}

div table {
    //width: 100%;
    margin-top: 25px;
}

.pin {
    border: 1px solid rgba(0,0,0,0.7);
    text-align: center;
    width: 300px;
}

.device-card {
    width: 372px;
    height: 240px;
    position: absolute;
    //border: 1px solid rgba(0,0,0,0.2);
}

.device-card h1 {
    margin-top: 20px;
}

.device-card div {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 10px; 
}

#right-down-card {
    top: 300px;
    margin-left: 20px;
}

#left-up-card {
    height: 480px !important;
    margin-left: 20px;
}

#right-up-card {
    margin-left: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #99ca49;
}

input:focus + .slider {
  box-shadow: 0 0 1px #99ca49;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
    margin: 3px 100px 15px 20px;
    width: 140px;
    height: 30px;
    background-color: #99ca49;
    color: white;
    font-family: "Montserrat";
    font-size: 14pt;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}

button:active {
    transform: translateY(4px);
}

button:focus {
    outline: none;
}

h1 {
    margin-left: 20px;
    color: #99ca49;
    text-transform: uppercase;
}

h3 {
    color: rgba(0,0,0,0.4);
    display: inline-block;
    width: 80px;
    padding: none;
    margin: 0px 0px 0px 0px !important;
    vertical-align: top;
    font-weight: 600;
}

p {
    display: inline-block;
    font-size: 24pt;
    font-weight: 200;
    line-height: 20px;
    margin: 0px !important;
    width: 140px;
}

